<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625267955226-gjduldd29l6ct0drffvg9vtkcg9o6kql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625267955226-gjduldd29l6ct0drffvg9vtkcg9o6kql</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>625267955226-3smroo71qqf7v2pc0leh8p77jml6rcnr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB8-tcXP6egD7MqkVlf1JirOqu1HQeTv2U</string>
	<key>GCM_SENDER_ID</key>
	<string>625267955226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopTogetherFlutter</string>
	<key>PROJECT_ID</key>
	<string>speed-market-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>speed-market-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625267955226:ios:d57ab3d11c0a6db2c1e3a3</string>
</dict>
</plist>